.card-wrapper {
    cursor: pointer;
}

.title {
    border-bottom: 0.5px solid #d8d8d8;
    color: #00cc99;
    font-weight: bold;

    padding: 10px;
}

.description {
    color: #808080;
    font-size: 0.75em;

    padding: 10px;
}
